<h2 id="title">당신이 내일 할 일은?</h3>
<form action="/home/intro" method = "get">

    <p>당신의 이름을 입력해주세요</p>
    <input type ="text" name="name">
    <br>
    <input type ="submit" value="내일 할일 알아보기">

</form>