// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title{
    text-align:center;
    
}

.menu{
    text-align:center;
}

img{
    float:left;
}

.who{
     font-size:20pt;
     text-align:center;
}

.what{
     color: blue;
     font-size:20pt;
     text-align:center;
}
.do{
     color: purple;
     font-size:20pt;
     text-align:center;
}

form{
    text-align:center;
}

p{
    font-size: 30pt;
}
img{
    align:center;
    width:400px;
     height:400px;
}